body {
    background-color: #f5f5f5;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#side-bar-shopping-cart {
    visibility: hidden;
    min-width: 350px;
}

#custom-alert, #authorization-alert {
    width: 100%;
    height: auto;
}

#dashboard-page-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #dashboard-page-body-container {
		margin-top: 70px;
	}
}

#dashboard-page-body {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', '標楷體', '黑體-繁', '微軟正黑體', sans-serif;
}

#user-information-container {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    #user-information-container {
		width: 100%;
		height: 350px;
	}
}

#user-information-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prepend-text {
    width: 80px;
    height: auto;
    align-items: center;
    justify-content: center;
}

#btnConfirm {
    width: 100px;
    height: auto;
    float: right;
}

#user-shopping-area {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#user-shopping-area-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#user-historical-shopping-cart-record-container {
    float: left;
}

@media only screen and (max-width: 600px) {
    #user-historical-shopping-cart-record-container {
		width: 100%;
		height: auto;
		float: none;
		margin-bottom: 10px;
	}
}

#user-historical-shopping-cart-record-btn {
    width: 200px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    #user-historical-shopping-cart-record-btn {
		width: 100%;
		height: auto;
	}
}

#user-good-selling-container {
    float: right;
}

@media only screen and (max-width: 600px) {
    #user-good-selling-container {
		width: 100%;
		height: auto;
		float: none;
		margin-bottom: 10px;
	}
}

#user-good-selling-btn {
    width: 200px;
    height: 100px;
}

@media only screen and (max-width: 600px) {
    #user-good-selling-btn {
		width: 100%;
		height: auto;
	}
}