body {
    background-color: #f5f5f5;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#side-bar-shopping-cart {
    visibility: hidden;
    min-width: 350px;
}

#custom-alert, #authorization-alert {
    width: 100%;
    height: auto;
}

#good-selling-page-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #good-selling-page-body-container {
		margin-top: 70px;
	}
}

#good-selling-page-body {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', '標楷體', '黑體-繁', '微軟正黑體', sans-serif;
}

#new-good-sells-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#new-good-sells-title, #good-sells-record-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#new-good-sells {
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid skyblue;
}

.good-sells-record {
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid skyblue;
    margin-bottom: 10px;
}

#new-good-sells-top, .good-sells-record-top {
    width: auto;
    height: 300px;
    padding: 3px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-top, .good-sells-record-top {
		width: auto;
		height: 580px;
	}
}

#new-good-sells-top-left, .good-sells-record-top-left {
    width: 200px;
    height: auto;
    float: left;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-top-left, .good-sells-record-top-left {
		width: 100%;
		height: 295px;
		float: none;
	}
}

#new-good-sells-image-title-container, .good-sells-record-image-title-container {
    margin-bottom: 3px;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-image-title-container, .good-sells-record-image-title-container {
		width: 100%;
		height: auto;
	}
}

#new-good-sells-image-title, .good-sells-record-image-title {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-image-title, .good-sells-record-image-title {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 700px) {
    #new-good-sells-top-left, .good-sells-record-top-left {
		width: 100%;
		height: auto;
	}
}

.new-good-sells-information-description, .good-sells-record-information-description {
    margin-left: 1px;
    font-weight: initial;
    color: red;
}

#new-good-sells-image-container, .good-sells-record-image-container {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 3px;
}

#new-good-sells-image, .good-sells-record-image {
    width: 190px;
    height: 190px;
}

#new-good-sells-image-btn-container, .good-sells-record-image-btn-container {
	width: 100%;
	height: 47px;
}

#new-good-sells-image-btn, .good-sells-record-image-btn {
    width: 100px;
    height: 40px;
    float: right;
}

#new-good-sells-image-file-reader, .good-sells-record-image-file-reader {
    display: none;
}

#new-good-sells-top-right, .good-sells-record-top-right {
    width: 450px;
    height: auto;
    float: right;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-top-right, .good-sells-record-top-right {
		width: 100%;
		height: 295px;
		float: none;
	}
}

#new-good-sells-information-title-container, .good-sells-record-information-title-container {
    margin-bottom: 3px;
}

#new-good-sells-information-title, .good-sells-record-information-title {
    width: 450px;
    height: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #new-good-sells-information-title, .good-sells-record-information-title {
		width: 100%;
		height: auto;
	}
}

#new-good-sells-information-container, .good-sells-record-information-container {
    width: auto;
    height: 240px;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid black;
}

#new-good-sells-information-container .prepend-text, .good-sells-record-information-container .prepend-text {
    width: 120px;
    height: auto;
    align-items: center;
    justify-content: center;
}

#new-good-sells-down, .good-sells-record-down {
    padding: 3px;
    margin-bottom: 5px;
}

#new-good-sells-description-title-container, .good-sells-record-description-title-container {
    margin-bottom: 3px;
}

#new-good-sells-description-title, .good-sells-record-description-title {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#new-good-sells-description-information-container, .good-sells-record-description-information-container {
    padding: 5px;
    border: 1px solid black;
}

#new-good-sells-description-list-container, .good-sells-record-description-list-container {
    
}

.new-good-sells-description-container, .good-sells-record-description-container {

}

.new-good-sells-description, .good-sells-record-description {
    margin-bottom: 3px;
}

#new-good-sells-description-btn-container, .good-sells-record-description-btn-container {
    width: auto;
    height: 40px;
}

#new-good-sells-description-btn, .good-sells-record-description-btn {
    float: right;
}

#new-good-sells-description-add-btn-container, .good-sells-record-description-add-btn-container {
    display: inline-block;
}

#new-good-sells-description-add-btn, .good-sells-record-description-add-btn {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.good-sells-record-description-add-btn {
    margin-right: 7px;
}

#new-good-sells-description-delete-btn-container, .good-sells-record-description-delete-btn-container {
    display: inline-block;
}

#new-good-sells-description-delete-btn, .good-sells-record-description-delete-btn {
    width: 40px;
    height: 40px;
    margin: 3px;
}

#new-good-sells-confirm {
    width: auto;
    height: 40px;
    padding-right: 3px;
}

#new-good-sells-confirm-btn-container {
    float: right;
}

#new-good-sells-confirm-btn {
    width: 100px;
    height: auto;
}

#good-sells-record-list-null-alert {
	font-weight: bold;
	font-size: 35px;
	display: none;
}

#good-sells-record-list-loading-alert {
	width: 100%;
	height: auto;
}

#good-sells-record-list-loading-alert-description {
	margin-left: 5px;
	font-weight: bold;
	font-size: 35px;
}

#good-sells-record-list {
    margin-bottom: 20px;
}

.good-sells-record-title-container {
    margin-bottom: 5px;
}

.good-sells-record-title {
    font-weight: bold;
    font-size: 25px;
}

.good-sells-record-description-area-container {
    margin-bottom: 10px;
}

.good-sells-record-buyer-area-container {
    /*margin-bottom: 10px;*/
}

.good-sells-record-buyer-title-container {
    margin-bottom: 3px;
}

.good-sells-record-buyer-title {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.good-sells-record-buyer-information-container {
    padding: 5px;
    border: 1px solid black;
}

.good-sells-record-buyer-list-container {

}

.good-sells-record-buyer-container {

}

.good-sells-record-buyer {
    margin-bottom: 3px;
}

.good-sells-record-btn-container {
    width: auto;
    height: 40px;
    padding-right: 3px;
}

.good-sells-record-btn {
    float: right;
}

.good-sells-record-delete {
    width: auto;
    height: auto;
    margin-right: 9px;
}

.good-sells-record-delete-btn-container {
    display: inline-block;
}

.good-sells-record-delete-btn {
    width: 100px;
    height: auto;
}

.good-sells-record-confirm {
    width: auto;
    height: auto;
}

.good-sells-record-confirm-btn-container {
    display: inline-block;
}

.good-sells-record-confirm-btn {
    width: 100px;
    height: auto;
}

#good-selling-return-btn {
    width: 100px;
    height: auto;
    float: right;
}