body {
    background-color: #f5f5f5;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#side-bar-shopping-cart {
    visibility: hidden;
    min-width: 350px;
}

#custom-alert, #authorization-alert {
    width: 100%;
    height: auto;
}

#historical-record-page-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #historical-record-page-body-container {
		margin-top: 70px;
	}
}

#historical-record-page-body {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', '標楷體', '黑體-繁', '微軟正黑體', sans-serif;
}

#historical-shopping-cart-record-container {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#historical-shopping-cart-record-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#historical-shopping-cart-record-list-null-alert {
	font-weight: bold;
	font-size: 35px;
	display: none;
}

#historical-shopping-cart-record-list-loading-alert {
	width: 100%;
	height: auto;
}

#historical-shopping-cart-record-list-loading-alert-description {
	margin-left: 5px;
	font-weight: bold;
	font-size: 35px;
}

#historical-shopping-cart-record-list {
    width: auto;
    height: auto;
}

.historical-shopping-cart-record-shopping-cart {
    margin-bottom: 15px;
    border: 3px solid skyblue;
    padding: 3px;
}

.historical-shopping-cart-record-shopping-cart-title-container {

}

.historical-shopping-cart-record-shopping-cart-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.historical-shopping-cart-record-shopping-cart-good-list-container {
    
}

.historical-shopping-cart-record-shopping-cart-good-list-title {
    margin-left: 3px;
    padding: 3px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .historical-shopping-cart-record-shopping-cart-good-list-title {
		font-size: 15px;
	}
}

.historical-shopping-cart-record-shopping-cart-good-list {
    margin-bottom: 10px;
    padding: 10px;
}

.historical-shopping-cart-record-shopping-cart-good {
    margin-bottom: 5px;
    background-color: #d3d3d3;
}

.historical-shopping-cart-record-shopping-cart-good-left {
    padding: 3px;
    text-align: left;
}

.historical-shopping-cart-record-shopping-cart-good-name {
    font-weight: bold;
    font-size: 15px;
}

.historical-shopping-cart-record-shopping-cart-good-description {
    font-size: 15px;
}

.historical-shopping-cart-record-shopping-cart-good-num {
    font-size: 15px;
}

.historical-shopping-cart-record-shopping-cart-good-right {
    padding: 3px;
    text-align: right;
}

.historical-shopping-cart-record-shopping-cart-good-price {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.historical-shopping-cart-record-shopping-cart-check-container {
    margin-bottom: 10px;
    padding: 3px;
}

.historical-shopping-cart-record-shopping-cart-horizontal-line {
	border-color: black;
}

.historical-shopping-cart-record-shopping-cart-total-price-container {
    width: 100%;
    height: 40px;
}

.historical-shopping-cart-record-shopping-cart-total-price-left {
    padding: 3px;
    float: left;
}

.historical-shopping-cart-record-shopping-cart-total-price-left-description {
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .historical-shopping-cart-record-shopping-cart-total-price-left-description {
		font-size: 15px;
	}
}

.historical-shopping-cart-record-shopping-cart-total-price-right {
    padding: 3px;
    float: right;
}

.historical-shopping-cart-record-shopping-cart-total-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

@media only screen and (max-width: 600px) {
    .historical-shopping-cart-record-shopping-cart-total-price {
		font-size: 15px;
	}
}

.historical-shopping-cart-record-shopping-cart-total-price-right-description {
    font-size: 15px;
}

.historical-shopping-cart-record-shopping-cart-payment-container {
    margin-bottom: 10px;
    padding: 3px;
}

.historical-shopping-cart-record-shopping-cart-payment-serial-number-container {
    width: 100%;
    height: 30px;
}

.historical-shopping-cart-record-shopping-cart-payment-serial-number-description {
    padding: 3px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .historical-shopping-cart-record-shopping-cart-payment-serial-number-description {
		font-size: 15px;
	}
}

.historical-shopping-cart-record-shopping-cart-payment-serial-number {
    padding: 3px;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .historical-shopping-cart-record-shopping-cart-payment-serial-number {
		font-size: 15px;
	}
}

#historical-shopping-cart-record-return-btn-container{

}

#historical-shopping-cart-record-return-btn {
    width: 100px;
    height: auto;
    float: right;
}