body {
    background-color: #f5f5f5;
    overflow: scroll;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#side-bar-shopping-cart {
    visibility: hidden;
    min-width: 350px;
}

#custom-alert, #authorization-alert {
    width: 100%;
    height: auto;
}

#no-goods-in-cart-container {
    display: block;
}

#shopping-cart-good-list-container {
    width: auto;
    height: auto;
}

.shopping-cart-menu-good {
    min-width: 350px;
}

.shopping-cart-menu-good-delete-btn-container {
    padding: 3px;
    float: left;
}

.shopping-cart-menu-good-delete-btn {
    width: 70px;
    height: auto;
}

.shopping-cart-menu-good-information-container {
    padding: 3px;
    float: right;
}

.shopping-cart-menu-good-left {
    padding: 3px;
    text-align: left;
}

.shopping-cart-menu-good-right {
    padding: 3px;
    text-align: right;
}

.shopping-cart-menu-good-description {
    font-size: 15px;
}

.shopping-cart-menu-good-name {
    font-weight: bold;
    font-size: 15px;
}

.shopping-cart-menu-good-num {
    font-size: 15px;
}

.shopping-cart-menu-good-price {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#shopping-cart-checkout-container {
    display: none;
}

#shopping-cart-horizontal-line {
    border-color: black;
}

#shopping-cart-checkout-total-price-left {
    padding: 3px;
    float: left;
}

#shopping-cart-checkout-total-price-left-description {
    font-size: 20px;
    font-weight: bold;
}

#shopping-cart-checkout-total-price-right {
    padding: 3px;
    float: right;
}

#shopping-cart-checkout-total-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#shopping-cart-checkout-total-price-right-description {
    font-size: 15px;
}

#custom-alert {
    width: 100%;
    height: auto;
}

#home-page-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #home-page-body-container {
		margin-top: 70px;
	}
}

#home-page-body {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', '標楷體', '黑體-繁', '微軟正黑體', sans-serif;
}

@media only screen and (max-width: 600px) {
    #home-page-body {
        max-width: 600px;
    }
}

#home-page-body-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#good-list-side-bar {
    margin-bottom: 10px;
}

.good-list-side-bar-item  {
    margin-right: 10px;
}

#good-list-loading-alert {
	width: 100%;
	height: auto;
}

#good-list-loading-alert-description {
	margin-left: 5px;
	font-weight: bold;
	font-size: 35px;
}

#good-list-side-bar div {
	width: 100%;
	height: auto;
}

.good-list-side-bar-item {
	width: 20%;
	height: auto;
}

@media only screen and (max-width: 600px) {
    .good-list-side-bar-item {
        width: 100%;
		height: auto;
    }
}

.child-good-list {
    position: relative;
    top: 10px;
    display: none;
}

.child-good-list.active {
    display: block;
}

.good-container {
    width: auto;
    height: 250px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .good-container {
        height: 275px;
        margin-bottom: 70px;
    }
}

.good-image-container {
    width: 33%;
    height: 100%;
    float: left;
}

.good-image {
    width: 100%;
    height: 100%;
}

.good-information-container {
    width: 60%;
    height: 100%;
    float: right;
    text-align: left;
    margin-bottom: 5px;
}

.good-name {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    overflow: auto;
}

.good-description {
    width: 100%;
    height: 90px;
    margin-bottom: 5px;
    font-size: 15px;
    overflow: auto;
}

.good-storage-and-price-container {
    width: auto;
    height: 45px;
}

.good-storage-container {
    float: left;
    margin-left: 11px;
}

.good-price-container {
    float: right;
}

.good-price-description, .good-storage-description {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .good-price-description, .good-storage-description {
		font-size: 15px;
	}
}

.good-price, .good-storage {
    font-weight: bold;
    font-size: 25px;
    color: red;
}

@media only screen and (max-width: 600px) {
    .good-price, .good-storage {
		font-size: 20px;
	}
}

.good-cart-container {
    width: 100%;
    height: 40px;
}

.input-group {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .input-group {
        width: 100%;
		height: auto;
		float: none;
		margin-left: 0px;
    }
}

.good-cart-btn {
    width: 120px;
    height: auto;
    float: right;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .good-cart-btn {
        width: 100%;
		height: auto;
		float: none;
    }
}

.good-classification {
    display: none;
}