body {
    background-color: #f5f5f5;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#side-bar-shopping-cart {
    visibility: hidden;
    min-width: 350px;
}

#custom-alert, #authorization-alert {
    width: 100%;
    height: auto;
}

#payment-page-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #payment-page-body-container {
		margin-top: 70px;
	}
}

#payment-page-body {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', '標楷體', '黑體-繁', '微軟正黑體', sans-serif;
}

#payment-page-body-title {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#payment-information-container {
    padding: 3px;
}

#payment-information-good-list-container {
    margin-bottom: 10px;
    padding: 3px;
}

.payment-information-good {
    margin-bottom: 5px;
    background-color: #d3d3d3;
}

.payment-information-good-left {
    padding: 3px;
    text-align: left;
}

.payment-information-good-name {
    font-weight: bold;
    font-size: 15px;
}

.payment-information-good-description {
    font-size: 15px;
}

.payment-information-good-num {
    font-size: 15px;
}

.payment-information-good-right {
    padding: 3px;
    text-align: right;
}

.payment-information-good-price {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#payment-information-check-container {
    margin-bottom: 10px;
    padding: 3px;
}

.payment-information-horizontal-line {
    border-color: black;
}

#payment-information-check-total-price-container {
    width: 100%;
    height: 40px;
}

#payment-information-check-total-price-left {
    padding: 3px;
    float: left;
}

#payment-information-check-total-price-left-description {
    font-size: 20px;
    font-weight: bold;
}

#payment-information-check-total-price-right {
    padding: 3px;
    float: right;
}

#payment-information-check-total-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#payment-information-check-total-price-right-description {
    font-size: 15px;
}

#payment-information-serial-number-container {
    margin-bottom: 10px;
    padding: 3px;
}

#payment-serial-number-container {
    width: 100%;
    height: 30px;
}

#payment-serial-number-description {
    padding: 3px;
	float: left;
    font-size: 20px;
    font-weight: bold;
}

#payment-serial-number {
    padding: 3px;
	float: right;
    font-size: 20px;
    font-weight: bold;
}

#payment-information-return-btn-container {
    
}

#payment-information-return-btn {
    width: 100px;
    height: auto;
    float: right;
}