body {
    background-color: #f5f5f5;
}

#side-bar-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#custom-alert {
    width: 100%;
    height: auto;
}

#signin-body-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
	margin-top: 30px;
}

#signin-body {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
}

.signin-body-title-strong {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signin-body-title-not-strong {
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#signin-body-animation-area {
    width: 100%;
    height: auto;
}

#signin-body-animation-container {
    width: 40%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: red;
	color: gray;
    animation-name: signin_body_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#signin-body-animation {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 180px;
    font-weight: bold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@keyframes signin_body_animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:30%; top:0px;}
    50%  {background-color:blue; left:60%; top:0px;}
    75%  {background-color:yellow; left:30%; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

.form-control {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

#btnSignin, #btnSigninWithGoogle, #btnNewAccount {
    position: relative
    width 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
}
